<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.images_base.backend.dao.PictureInfoMapper">
    <delete id="removeInfoByPictureId">
        DELETE FROM picture_info
        WHERE picture_id = #{pictureId}
    </delete>

    <select id="checkDuplication" resultType="java.lang.Integer">
        SELECT count(picture_id)
        FROM picture_info
        WHERE picture_id = #{pictureId}
        AND is_delete = FALSE
        LIMIT 1;
    </select>

    <resultMap id="getPictureListMap" type="com.images_base.backend.modal.entity.PictureInfoEntity">
        <result column="uploader" property="uploader"/>
        <result column="picture_name" property="pictureName"/>
        <result column="picture_type" property="pictureType"/>
        <result column="picture_id" property="pictureId"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <select id="getPictureList" resultMap="getPictureListMap">
        SELECT
        uploader,
        picture_name,
        picture_type,
        picture_id,
        created_at,
        updated_at
        FROM picture_info
        WHERE is_delete = FALSE
        ORDER BY created_at;
    </select>
</mapper>