<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.images_base.backend.dao.PictureMapper">
    <insert id="uploadPicture" parameterType="com.images_base.backend.modal.entity.PictureEntity">
        INSERT INTO picture
        (picture_id, picture_origin)
        VALUES
        (#{entity.pictureId}, #{entity.pictureOrigin, typeHandler=org.apache.ibatis.type.BlobTypeHandler})
    </insert>

    <select id="getOneByPictureId" resultType="com.images_base.backend.modal.vo.picture.PictureFileVO">
        SELECT
        pi.picture_type,
        p.picture_id,
        p.picture_origin
        FROM picture AS p
        LEFT JOIN (
        SELECT
        picture_id,
        picture_type,
        created_at
        FROM picture_info
        ) AS pi ON p.picture_id = pi.picture_id
        WHERE p.picture_id = #{pictureId}
        ORDER BY pi.created_at
        LIMIT 1;
    </select>

    <delete id="removeByPictureId" parameterType="string">
        DELETE from picture
        WHERE picture_id = #{pictureId}
    </delete>
</mapper>