<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.images_base.backend.dao.UserMapper">

    <select id="getUsers" resultType="com.images_base.backend.modal.entity.UserEntity">
        SELECT u.*
        FROM user AS u
        WHERE u.is_delete = FALSE
    </select>

    <select id="getUserInfo" resultType="com.images_base.backend.modal.entity.UserEntity">
        SELECT u.*
        FROM user AS u
        WHERE u.is_delete = FALSE AND u.id=#{id}
    </select>
</mapper>
