<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.images_base.backend.dao.UserMapper">
    <select id="getUsers" resultType="com.images_base.backend.modal.entity.UserEntity">
        SELECT u.*
        FROM user AS u
        WHERE u.is_delete = FALSE
    </select>

    <select id="getUserInfo" resultType="com.images_base.backend.modal.entity.UserEntity">
        SELECT u.*
        FROM user AS u
        WHERE u.is_delete = FALSE AND u.id=#{id}
    </select>

    <resultMap id="rolesMap" type="com.images_base.backend.modal.vo.user.UserVO">
        <id property="id" column="id"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="email" property="email"/>
        <!--        <result column="is_delete" property="isDelete"/>-->
        <result column="updated_at" property="updatedAt"/>
        <result column="created_at" property="createdAt"/>
        <collection property="roles" ofType="com.images_base.backend.modal.vo.role.RoleVO"
                    columnPrefix="roles_">
            <result column="role_id" property="roleId"/>
            <result column="role_name" property="roleName"/>
            <result column="user_id" property="userId"/>
        </collection>
    </resultMap>

    <select id="getUserRolesInfo" resultMap="rolesMap">
        SELECT
        us.*,
        ro.role_id AS roles_role_id,
        ro.role_name AS roles_role_name,
        ro.user_id AS roles_user_id
        FROM USER AS us
        LEFT JOIN (
        SELECT
        r.id AS role_id,
        r.NAME AS role_name,
        u.user_id
        FROM role AS r
        LEFT JOIN user_role_association AS u ON u.role_id = r.id
        WHERE r.is_delete = FALSE AND u.is_delete = FALSE
        ) AS ro ON ro.user_id = us.id
        WHERE us.is_delete = FALSE
        AND us.name=#{name}
    </select>
</mapper>
